@import 'base';
.bigMap{
	height:300px;
	z-index: 2;
}
.panel{
	position:absolute;
	top:0;
	left:0;
	padding-top:300px;
	padding-bottom:45px;
	overflow:auto;
	width:100%;
	height:100%;
	background-color: $whiteColor;
}
.amap_lib_placeSearch_page,.amap_lib_placeSearch_poi{display:none !important;}
.amap-marker,.amap_lib_placeSearch_page,.poi-more,.poi-tel,.amap-overlays,.locs-list-container .amap_lib_placeSearch_poi{
display: none !important;
}
.amap_lib_placeSearch{
	border-left:none;
	border-right:none;
	/* font-size:$fontSize1 !important; */
}
.amap_lib_placeSearch_list{
	padding:0 0 0 pxToRem(30);
	border:none;
	li:last-child{
		border-bottom:none;
	}
	.poibox{
		padding:pxToRem(25) 0;
		border-bottom:1px solid #cfcfcf;
		.poi-title,.poi-info{
			margin:0;
		}
		.poi-name{
			color:$fontColorBlack;
		}
		.poi-info{
			p.poi-addr{
				color:#9b9b9b;
			}
		}
		i{
			display:none;
		}
		&.active{
		/* 	background-color: transparent;
		background:url(right.png) no-repeat no-repeat right center;
		-webkit-background-size:16px 16px;
		background-size:16px 16px; */
			.poi-name{
				color:#f95048 !important;
			}
			i{
				display:block;
				width:16px;
				height:16px;
				position:absolute;
				top:22px;
				right:15px;
				color:#f55d4f;
			}
		}
		&.active:last{
			content:' ';
		}
	}
} 
.amap-marker:first-child{
display: block !important;
}
.markerShow{
display: block !important;
}
.selectArea{
	.btnBottom{
		  height: 45px;
		  line-height: 45px;
		  font-size: 14px; 
	}
}