@import 'base';
.formBox{
	/* font-size:$fontSize2; */
	@extend .fontSize2;
	margin-top:pxToRem(32);
	border:1px solid #cfcfcf;
	border-left:none;
	border-right:none;
	background-color:$whiteColor;
	padding-left:pxToRem(25);
	padding-bottom:pxToRem(30);
	overflow:hidden;
	.row{
		overflow:hidden;
		padding:pxToRem(22) 0 ;
		border-bottom:1px solid #cecece;
		&:last-child{
			border:none;
		}
		.label{
			color:#919191;
			float:left;
			padding-right:pxToRem(20);
			text-align:left;
		}
		.info{
			color:#232323;
			/* width:pxToRem(500); */
			float:left;
		}
	}
	textarea{
		border:none;
		width:pxToRem(690);
		height:pxToRem(190);
		padding: pxToRem(20) 0;
		/* font-size:$fontSize2; */
		@extend .fontSize2;
		color:#4d4d4d;
	}
	.upload-btn{
		width:pxToRem(140);
		height:pxToRem(140);
		line-height:pxToRem(140);
		border:1px solid #b5b5b5;
		color:#cecece;
		font-size:pxToRem(64);
		text-align:center;
		float:left;
	}
}
.btnBottom{
	position:fixed;
	bottom:0;
	width:100%;
	height:pxToRem(90);
	line-height:pxToRem(90);
	border-top:1px solid #b6b6b6;
	text-align:center;
	background-color:$whiteColor;
	color:$fontColorRed;
	/* font-size:$fontSize2; */
	@extend .fontSize2;
}
.addUser{
	padding:pxToRem(22) 0  0 0;
	color:$fontColorBlack;
	span{
		float:right;
		color:$fontColorGray;
		margin-right:pxToRem(25);
		i{
			/* font-size:$fontSize2; */
			@extend .fontSize1;
			color:#ccc;
			margin-left:pxToRem(10);
		}
	}
}
.upload-list{
	.item{
		width:pxToRem(140);
		height:pxToRem(140);
		display:block;
		float:left;
		position:relative;
		img{
			width:100%;
			height:100%;
		}
		margin-right:pxToRem(20);
		.uploading{
			font-size:$fontSize1;
			color:#fff;
			position:absolute;
			text-align:center;
			width:100%;
			height:100%;
			line-height:pxToRem(140);
			top:0;
			background:rgba(0,0,0,.7);
		}
		i{
			position:absolute;
			right:0;
			top:0;
			color:#ff6d70;
			font-size:pxToRem(46);
		}
	}
}
.lastRow{
	margin-bottom:pxToRem(90);
}